<form action="/process" method = "POST">

    <label for="firstName">First Name</label>
    <input type="text" name="firstName"> <br>

    <label for="lastName">Last Name</label>
    <input type="text" name="lastName"> <br>

    <label for="phoneNo">Phone No</label>
    <input type="text" name="phoneNo"> <br>

    <label for="message">Message</label>
    <textarea name="message" id="message"></textarea><br>

    <input type="submit" value = "Contact us">

</form>